<figure>
    <img src="/assets/img/dessertilicious.png" alt="Logo mock for a Baking outlet">
    <figcaption>A logo mockup for a baking outlet</figcaption>
</figure>
<figure>
    <img src="/assets/img/snackelicious.png" alt="Logo mock for a Baking outlet">
    <figcaption>A logo mockup for a baking outlet</figcaption>
</figure>
<figure>
    <img src="/assets/img/snackelicious1.png" alt="Logo mock for a Baking outlet">
    <figcaption>A logo mockup for a baking outlet</figcaption>
</figure>
<figure>
    <img src="/assets/img/codingcooker-initial.png" alt="Logo mock for coding cooker">
    <figcaption>A logo mockup for this blog</figcaption>
</figure>

