<header class="Site-header">
    <nav role="banner">
        <div class="nav-titles">
            <div class="logo">
                <a href="/"><img src="/assets/img/logos/logo2-plain.png" alt="Logo"></a>
            </div>
            <div class="nav-site-name">
                <h2 class="nav-subtitle">
                    Recipe's for modern web development
                </h2>							
            </div>
        </div>
        <div class="nav-actions">
            <a href="/" class="anchor-main">Home</a>
            <a href="/about" class="anchor-main">About</a>
            <!--<a href="/cv" class="anchor-main">CV</a>-->
        </div>
    </nav>
</header>