<header class="Site-header">
    <nav role="banner">
        <div class="nav-titles">
            <div class="logo">
                <img src="/assets/img/logo.png" alt="CodingCooker">
            </div>
            <div class="nav-site-name">
                <h1 class="nav-title">
                    <a href="/"><span class="bg">C</span>oding <span class="bg">C</span>ooker</a>
                </h1>
                <h2 class="nav-subtitle">
                    Recipe's for modern web development
                </h2>							
            </div>
        </div>
        <div class="nav-actions">
            <a href="/" class="anchor-main">Home</a>
            <a href="/about" class="anchor-main">About</a>
            <!--<a href="/cv" class="anchor-main">CV</a>-->
        </div>
    </nav>
</header>