.Home-Site {
  display: flex;
  background: linear-gradient(rgba(85, 85, 85, 0.8), rgba(0, 0, 0, 0.3)), url(/assets/img/mypic2.jpg) no-repeat center center fixed;
  background-size: cover;
  flex-direction: column;
  height: 100%; /* 1, 3 */
  color: #fff;
  header {
	  align-self: flex-end;
	  margin: 3em;
	  a {
		  //color: inherit;
		  &:hover{
			  border-bottom: none;
		  }
	  }

	  .Home-Nav-Trigger {
		  background-color: lightyellow;
		  padding: 1.5em;
		  border-radius: 20px;
	  }
  }

  main {
	  align-self: center;
  }
}

.Home-Main {
	h1 {
		font-family: 'Fira Sans';
		font-weight: 300;
		font-size: 5em;
		text-transform: uppercase;
		letter-spacing: 0.5em;
		color: #fff440;
		margin: 0;
	}

  p {
    color: #e5e7e9;
    font-family: 'Scope One';
    font-style: italic;
    letter-spacing: 0.1em;
    font-size: 1.30em;
    text-align: center;
    line-height: 20px;
  } 
}

	  .overlay {
		  height: 100%;
		  width: 0;
		  z-index: 1; /* Sit on top */
		  position: fixed; /* Stay in place */
		left: 0;
		top: 0;
		background-color: rgb(0,0,0); /* Black fallback color */
		//background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
		overflow-x: hidden; /* Disable horizontal scroll */
		transition: 0.5s;

		.closebtn {
			//display: none;
			position: absolute;
			top: 20px;
			right: 45px;
			font-size: 60px;
		}
	  }

	  /* Position the content inside the overlay */
		.overlay-content {
			position: relative;
			top: 25%; /* 25% from the top */
			width: 100%; /* 100% width */
			text-align: center; /* Centered text/links */
			margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
		}