.posts {
  article {
    border: 1px solid transparent;
    border-color: #ddd;
    list-style: none;
    border-radius: 2px;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }
}

.post {
  margin: 0.5em 0;
}

.post-date {
  color: #777;
  display: block;
  font-size: 0.9em;
  margin-bottom: 1em;
}

//.post-title,
.post-excerpt,
.readmore {
  margin-bottom: 1em;
}

.post-title {
  a {
    text-decoration: none;
    color: inherit;
    transition: hover ease 0.5s;
    display: inline-block;

    &:after {
      content: '';
      display: block;
      border-bottom: 0.1em solid $hover-color;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      transform-origin: 0% 50%;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }
}
.readmore{
  a {
    color: #333;
    text-decoration: none;
  }
}

.article-excerpt:hover,
.article-excerpt:active {
  background: $main-gradient;//#fcfcfc
}

.button {
  //border: 1px solid red;
  padding: 0.2em;
  background-color: #fcec4f;
  border-radius: 0.2em;
}

blockquote {
  margin: 1em 0;
  font-family: 'Merriweather', serif;
  font-size: 0.8em;
  background-color: #fcec4f;
  padding: 1em;
  border-radius: 1em;
}

figure {
  margin: 0 0 1em 0;
  text-align: center;
  img
  {
    width: 300px;
    height: auto;
  }
  figcaption {
    font-family: 'Merriweather', serif;
    font-size: 0.8em;
    text-align: center;
  }
}