:root {
  --space: 1.5em;
  --space-lg: 2em;
  --bg-color: hsl(150, 45%, 50%);
}

.logo img{
    width: 100px;
    height: auto;
}

.Site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.Home-Site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
  justify-content: center;
  align-items: flex-start;
}

.Site-main {
  background: linear-gradient(rgba(85, 85, 85, 0.8), rgba(0, 0, 0, 0.3)), url(/assets/img/mypic2.jpg) no-repeat center center fixed;
  //background-position: center;
  background-size: cover;
}

.Site-header,
.Site-footer {
  flex: none; /* 2 */
}

.Site-header {
    background: linear-gradient(90deg, #dee1e1 10%, #f4f4f4 90%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Site-footer{
    background: linear-gradient(90deg, #1C1C1C 10%, #494949 90%);
}

.Site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 70%;
  margin: auto;
}
.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (min-width: 768px) {
  .Site-content {
    padding-top: var(--space-lg);
  }
  .Site-content::after {
    margin-top: var(--space-lg);
  }
}

.Site-content--full {
  padding: 0;
}
.Site-content--full::after {
  content: none;
}

.box img {
  display: block;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.social {
  color: #555;
  //text-align: center;
  font-size: 1.5em;

  i {
    margin: .2em;
    cursor: pointer;
  }
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;

    .name {
      margin: 5px 0;

      &:after{
        content: "";
        display: block;
        border: 1px solid #555;
        width: 30%;
        margin: 5px auto;
      }
    }

    .title {
      font-size: 0.75em;
    }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media only screen and (max-width:48em)
{
  .Site-content .container-fluid {
    padding: 0;

    .center-xs {
      align-items: flex-start;
      justify-content: flex-start;
    }

    .social {
    font-size: 1.25em;
    }
  }
}

.home {
  color: whitesmoke;
  //border: 1px solid #fff;
  //margin: 10em;

  h1 {
    font-family: 'Fira Sans';
    font-weight: 300;
    font-size: 5em;
    text-transform: uppercase;
    margin-left: 2em;
    margin-top: 4.5em;
    letter-spacing: 0.5em;
    color: #fff440;
  } 
}