$primary-color: #fc593f;
$hover-color: #e37766;

$body-font: 'Gentium Book Basic', serif;
$heading-font: 'Open Sans', Helvetica, Arial, sans-serif;

//$body-color: hsl(0,0%,25%);
$body-color: #333;
$heading-color: #4b4236;

$main-gradient: linear-gradient(90deg, #dee1e1 10%, #f4f4f4 90%);
//$footer-gradient: linear-gradient(90deg, #1C1C1C 10%, #494949 90%);