* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  overflow: hidden; }

body {
  margin: 30px auto;
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #404040;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px; }

img {
  height: 100px;
  width: auto; }

nav ul, footer ul {
  padding: 0px;
  list-style: none;
  font-weight: bold; }

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px; }

a {
  text-decoration: none;
  color: #999; }

a:hover {
  text-decoration: underline; }

h1 {
  font-size: 3em; }

p {
  font-size: 1.5em;
  color: #333; }

footer {
  font-size: .8em;
  padding: 2px 16px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px; }

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em; }

ul.posts li {
  list-style: none; }

.card {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s; }

/* On mouse-over, add a deeper shadow */
.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .container section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    .container section .box {
      background: -webkit-gradient(linear, right top, left top, from(#E8CBC0), to(#636FA4));
      background: -webkit-linear-gradient(right, #E8CBC0, #636FA4);
      background: linear-gradient(to left, #E8CBC0, #636FA4);
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .container section .box .card {
        background: whitesmoke;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        width: 200px; }
        .container section .box .card img {
          display: block;
          -webkit-border-top-left-radius: 5px;
                  border-top-left-radius: 5px;
          -webkit-border-top-right-radius: 5px;
                  border-top-right-radius: 5px;
          width: 100%;
          height: auto; }
        .container section .box .card .card-details {
          margin: 5px 0;
          text-align: center; }
          .container section .box .card .card-details h3 {
            display: inline-block;
            border-bottom: 1px solid lightgrey; }
        .container section .box .card .social {
          color: #555;
          text-align: center;
          font-size: 1.5em;
          margin-top: 10px; }
          .container section .box .card .social i {
            margin: .2em;
            cursor: pointer;
            -webkit-transition: color 300ms ease;
            transition: color 300ms ease; }
            .container section .box .card .social i:hover {
              margin-top: -1px; }
            .container section .box .card .social i.fa-linkedin:hover {
              color: #007bb5; }
            .container section .box .card .social i.fa-twitter:hover {
              color: #55acee; }
            .container section .box .card .social i.fa-github:hover {
              color: black; }
            .container section .box .card .social i.fa-envelope:hover {
              color: #F7B401; }
            .container section .box .card .social i.fa-stack-overflow:hover {
              color: #ED780E; }
    .container section .content {
      margin: 10px;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: inherit;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .container section .content h1 {
        display: block; }
      .container section .content h1:after {
        content: "";
        display: block;
        border: 1px solid darkred;
        width: 100%;
        margin-top: 10px; }
  @media (max-width: 700px) {
    .container section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .container section .content {
        -webkit-box-flex: 0.6;
        -webkit-flex: 0.6;
            -ms-flex: 0.6;
                flex: 0.6; } }
