<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
			<link rel="icon" type="image/png" href="codingcooker.png">
		</head>
		<body>
			<nav>
				<div class="logo">
					<img src="/assets/img/logo.png" alt="CodingCooker">
				</div>

	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
					<li class="icon"><a href="#"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kiranraj.anugula@gmail.com">email</a></li>
	        		<li><a href="https://github.com/codingcooker">github.com/codingcooker</a></li>
				</ul>
			</footer>
		<script src="https://use.fontawesome.com/d7a7b893fb.js"></script>
		</body>
	</html>
